* {
    margin: 0;
    padding: 0;
    border: 0;
}

.profile {
    width: 100%;
    background-color: blanchedalmond;
    padding: 20px;
    border-radius-bottom: 10px;
}
.profile > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 5px;
}

.body {
    margin: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.infor {
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 20px;
    width: 500px;
}

.infor > h3 {
    background-color: rgb(210, 175, 244);
    align-self: center;
    justify-self: center;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.infor > li {
    list-style: none;
}

.skill {
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 20px;
    margin-top: 30px;
}

.skill > h3 {
    background-color: rgb(210, 175, 244);
    align-self: center;
    justify-self: center;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.skill > li {
    list-style-type: none;
    padding-top: 10px;
}

.skill > li > h5 {
    font-size: 17px;
}

.strengths {
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 70px;
}

.strengths > h3 {
    background-color: rgb(210, 175, 244);
    align-self: center;
    justify-self: center;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.strengths > li {
    list-style-type: none;
}

.strengths > li > i {
    font-size: 15px;
    color: green;
}

.weakness {
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 70px;
    margin-top: 30px;
}

.weakness > h3 {
    background-color: rgb(210, 175, 244);
    align-self: center;
    justify-self: center;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.weakness > li {
    list-style-type: none;
}

.weakness > li > i {
    font-size: 15px;
    color: red;
}
